@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div class="hero-section">
    <h2>Вы устали? Энергия на нуле? Всё раздражает?... Налицо все признаки стресса! Не торопитесь принимать антидепрессанты, глубоко вдохните, выдохните... и примите самое правильное решение – оздоровительные процедуры в SPA-комплексе!</h2>
</div>

<div class="content-section">
    <div class="image-text-container">
        <div class="image">
            <img src="~/images/spa.jpg" alt="SPA процедура">
        </div>
        <div class="text">
            <p>Мы создали атмосферу неги и удовольствия в отдельной SPA-зоне акватермального комплекса  специально для того, чтобы за минимально короткое время Вы смогли избавиться от стресса и почувствовали гармонию с окружающим миром – расслабились, отпустили все мысли, сняли напряжение, настроились на позитивное восприятие мира.</p>
        </div>
    </div>
</div>

<div class="benefits-section">
    <h3>Приезжайте к нам за своим персональным дзеном:</h3>
    <div class="benefits-container">
        <div class="benefit">
            <ul>
                <li>расслабление, снятие мышечного напряжения;</li>
                <li>улучшение эмоционального состояния;</li>
                <li>нормализация сна;</li>
            </ul>
        </div>
        <div class="benefit">
            <ul>
                <li>снижение тревожности и нервного напряжения;</li>
                <li>восстановление сил, позитивного настроя;</li>
                <li>внутренняя гармония;</li>
            </ul>
        </div>
        <div class="benefit">
            <ul>
                <li>улучшение внешнего вида;</li>
                <li>уменьшение раздражительности;</li>
                <li>повышение внутренней энергии.</li>
            </ul>
        </div>
    </div>
</div>
