body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 1em;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin: 0 1em;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

.container {
    padding: 2em;
    min-height: 800px;
}

.procedure-card {
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    background: rgb(147,147,235);
    background: radial-gradient(circle, rgba(147,147,235,1) 56%, rgba(0,212,255,1) 100%);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    position: relative;
    width: 400px; /* уменьшаем ширину */
    height: 200px; /* уменьшаем высоту */
    display: inline-block;
    vertical-align: top;
}

    .procedure-card:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

.procedure-title {
    font-size: 2em; /* увеличиваем шрифт */
    margin-bottom: 0.5em;
}

.procedure-price {
    font-size: 1.5em; /* увеличиваем шрифт */
    margin-bottom: 0.5em;
}

.procedure-description {
    font-size: 1.2em; /* увеличиваем шрифт */
    margin-bottom: 1em;
}

.booking-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

    .booking-form.expanded {
        max-height: 300px;
    }

footer {
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    background-color: #333;
    color: white;
}

.procedure-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

    .procedure-table th, .procedure-table td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .procedure-table th {
        background-color: #f2f2f2;
        text-align: left;
    }

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.delete-btn {
    background-color: #f44336;
}

.add-btn {
    background-color: #008CBA;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
}

.user-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

    .user-card:hover {
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    .user-card h4 {
        margin-top: 0;
    }

    .user-card ul {
        padding-left: 20px;
    }

        .user-card ul li {
            margin-bottom: 5px;
        }
